<h3>Object Detail </h3>
<table>
  <tr><th>Attribute</th><th>Value</th></tr>
  <tr><td>Class</td><td><a href="/object/<%= @object.class.object_id %>"><%= @object.class %></a></td></tr>
  <tr><td>Oop</td><td> <%= @object.object_id %></td></tr>
  <% @object.instance_variables.each do |var|
       ivar = @object.instance_variable_get(var)
  %>
    <tr>
      <td><%= var %></td>
      <td><a href="/object/<%= ivar.object_id %>"><%= ivar.inspect %></td>
    </tr>
  <% end %>
</table>

